<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gt.mapper.TRegisterMapper" >
  <resultMap id="BaseResultMap" type="com.gt.pojo.TRegister" >
    <id column="t_id" property="tId" jdbcType="INTEGER" />
    <result column="t_account" property="tAccount" jdbcType="VARCHAR" />
    <result column="t_password" property="tPassword" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    t_id, t_account, t_password
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.gt.pojo.TRegisterExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_electron_register
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_electron_register
    where t_id = #{tId,jdbcType=INTEGER}
  </select>
  
  <select id="selectLogin" resultMap="BaseResultMap" parameterType="com.gt.pojo.TRegister" >
    select 
    <include refid="Base_Column_List" />
    from t_electron_register
    where t_account = #{tAccount,jdbcType=VARCHAR}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_electron_register
    where t_id = #{tId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.gt.pojo.TRegisterExample" >
    delete from t_electron_register
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.gt.pojo.TRegister" >
    insert into t_electron_register (t_id, t_account, t_password
      )
    values (#{tId,jdbcType=INTEGER}, #{tAccount,jdbcType=VARCHAR}, #{tPassword,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.gt.pojo.TRegister" >
    insert into t_electron_register
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tId != null" >
        t_id,
      </if>
      <if test="tAccount != null" >
        t_account,
      </if>
      <if test="tPassword != null" >
        t_password,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tId != null" >
        #{tId,jdbcType=INTEGER},
      </if>
      <if test="tAccount != null" >
        #{tAccount,jdbcType=VARCHAR},
      </if>
      <if test="tPassword != null" >
        #{tPassword,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gt.pojo.TRegisterExample" resultType="java.lang.Integer" >
    select count(*) from t_electron_register
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_electron_register
    <set >
      <if test="record.tId != null" >
        t_id = #{record.tId,jdbcType=INTEGER},
      </if>
      <if test="record.tAccount != null" >
        t_account = #{record.tAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.tPassword != null" >
        t_password = #{record.tPassword,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_electron_register
    set t_id = #{record.tId,jdbcType=INTEGER},
      t_account = #{record.tAccount,jdbcType=VARCHAR},
      t_password = #{record.tPassword,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.gt.pojo.TRegister" >
    update t_electron_register
    <set >
      <if test="tAccount != null" >
        t_account = #{tAccount,jdbcType=VARCHAR},
      </if>
      <if test="tPassword != null" >
        t_password = #{tPassword,jdbcType=VARCHAR},
      </if>
    </set>
    where t_id = #{tId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gt.pojo.TRegister" >
    update t_electron_register
    set t_account = #{tAccount,jdbcType=VARCHAR},
      t_password = #{tPassword,jdbcType=VARCHAR}
    where t_id = #{tId,jdbcType=INTEGER}
  </update>
</mapper>