
@media (min-width: 992px) {
  #viewDiv {
	position:fixed;
	z-index:999;
	left:32%;
	top:100px;
	width:512px;
	text-align: center; 
	display:none
}
}
@media (max-width: 992px) {
  #viewDiv {
	position:fixed;
	z-index:999;
	left:18%;
	top:100px;
	width:512px;
	text-align: center; 
	display:none
}
}

